* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
}

article {
    width: 600px;
    height: 600px;
    margin: 50px auto;
    background: aqua;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 198px;
    height: 158px;
    border: 1px solid black;
    padding-top: 40px;
}
button {
    margin-top: 100px;
    width: 200px;
    height: 75px;
    font-size: 1.2em;
}