@keyframes drop {
  0% {
    top: 0;
  }

  100% {
    top: 5px;
  }
}

@keyframes mouseon {
  0% {
    transform: scale(1);
    color: $col1;
    background: $bd1;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
    color: $col2;
    background: $bg2;
  }
}

@keyframes mouseout {
  0% {
    background: $bg2;
    color: $col2;
  }

  100% {
    color: $col1;
    background: $bd1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes fullrotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes new {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes join {
  0% {
    opacity: 1;
    font-size: 1.7rem;
    padding-top: 25px;
  }
  20% {
    opacity: .5;
    font-size: 4rem;
    padding-top: 10px;
  }
  80% {
    opacity: .5;
    font-size: 4rem;
    padding-top: 10px;
  }
  100% {
    opacity: 1;
    font-size: 1.7rem;
    padding-top: 25px;
  }
}

