@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

$mobilek: 650px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}