@media (max-width: $mobilek) and (orientation: landscape) {
  .message {
    display: block;
    i#close {
      display: none;
    }
    i#phone {
      display: block;
      animation: rotate 2s infinite ease-in-out;
    }
  }
}
@media (max-width: $mobilek) and (max-height: 639px) {
  main {
    article {
      margin-top: 0;
    }
  }
}