.message {
  position: absolute;
  background: $col1;
  color: $col2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 5rem;
  text-align: center;
  display: none;

  i#close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    transform: rotate(0);
    cursor: pointer;
    transition: transform 0.5s ease-in;

    &:hover {
      transform: rotate(90deg);
      transition: transform 0.5s ease-out;
    }
  }


  .mess1 {
    position: relative;
    top: 10vh;
    text-align: center;

    #phone {
      font-size: 5rem;
      padding-bottom: 1rem;
    }

  }

  @media (min-width: $mobilek) {
    max-width: 1250px;
    width: 70vw;
    height: 70vh;
    top: 10vh;
    left: 15vw;
    margin: 0 auto;
    border: 2px solid $bd1;
    border-radius: 25px;
    -webkit-box-shadow: 22px 26px 41px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 26px 41px -8px rgba(0,0,0,0.75);
    box-shadow: 22px 26px 41px -8px rgba(0,0,0,0.75);
  }
}
.active {
  display: flex;
  font-weight: 200;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    .label {
      width: 100%;
      margin-top: 1rem;
    }
    span {
      margin-left: 1rem;
    }
    input {
      width: 60%;
      line-height: 1.5rem;
    }

    .fa-spinner {
      animation: fullrotate .8s infinite reverse linear;
    }

    .fa-check {
      color: $col3;
    }

    button {
      width: 60%;
      margin-top: 2rem;
      line-height: 2rem;
      border-radius: 15px;
      background: $col3;
      color: $col2;
      font-size: 1.3rem;
      cursor: pointer;
      transition: transform .5s ease-out;

      &:hover {
        transform: translate(3px, 3px);
        transition: transform .2s  ease-in;
      }
    }
  }

  .mess1 {
    display: none;
  }

  .login {
    width: 70%;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    input {
      line-height: 2rem;
      width: 100%;
      border-radius: 5px;
      padding: 0 5%;
      margin-bottom: 1rem;
    }

    button {
      margin-top: 1rem;
      line-height: 2rem;
      background: $bd1;
      color: $col1;
    }

  }


}