
.score_block {
  font-size: 1em;
  text-align: center;
  background: $bd1;
  color: $col2;
  width: 200px;
  border-radius: 15px;
  margin: 30px auto;
}

article {
  width: 298px;
  height: 298px;
  margin: 50px auto;
  background: $col2;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid $bd1;
  border-radius: 15px;
}

.box {
  font-family: 'Cabin Sketch', cursive;
  width: 96px;
  height: 96px;
  border: 2px solid $bd1;
  z-index: 3;
  font-size: 1.7em;
  border-radius: 5px;
  text-align: center;
  .tail {
     width: 96px;
      height: 96px;
      border-radius: 5px;
      background: $col3;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 2;
  }
  @for $j from 1 to 4 {
    @for $i from 1 to 4 {
    .t-#{$j}-#{$i} {
      transform: translate(($j - 1)*96px,($i - 1)*96px);
      transition: transform .3s ease-in-out;
    }
  }
  }


}