
.score_block {
  font-size: 1em;
  text-align: center;
  background: $bd1;
  color: $col2;
  width: 200px;
  border-radius: 15px;
  margin: 30px auto;
}

article {
  width: 298px;
  height: 298px;
  margin: 50px auto;
  background: $col2;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid $bd1;
  border-radius: 15px;

  .koniec {
    contain: 'koniec gry Panocku';
  }
}

.box {
  font-family: 'Cabin Sketch', cursive;
  width: 96px;
  height: 96px;
  border: 5px solid $bd1;
  z-index: 3;
  font-size: 1.7em;

  text-align: center;
  .tail {
      width: 87px;
      height: 87px;
      border-radius: 0;
      background: $col3;
      margin: 0;
      padding-top: 25px;
      position: absolute;
      z-index: 2;
  }

  .joint {
    animation: join .3s linear;

  }

  @for $r from 0 to 3 {
    @for $c from 0 to 3 {
    .t-#{$r}-#{$c} {
      transform: translate($c*96px,$r*96px);
      transition: transform .2s ease-in-out;
    }
  }
  }

  $j: 2;

  @for $i from 1 to 7 {
    $r1: random(125);
    $g1: random(125);
    $b1: random(125);
    .num#{$j} {
      background: rgb($r1, $g1, $b1);
      color: $col2;
    }
    $j: $j*4;
  }
  $j: 4;

  @for $i from 1 to 7 {
    $r1: random(125) + 125;
    $g1: random(125) + 125;
    $b1: random(125) + 125;
    .num#{$j} {
      background: rgb($r1, $g1, $b1);
      color: $bd1;
    }
    $j: $j*4;
  }

  .new {
    opacity: 0;
    animation: new .2s ease-in-out normal forwards;


  }


}