header {
  background:  $bd1;
  color: $col1;
  padding-bottom: 10px;


  nav {
    width: 100%;
    padding: 0 5rem;
    text-align: center;
    @media (min-width: 750px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .logo {
      margin-left: 5rem;

      h1 {
        padding-top: 1rem;
        font-weight: 300;
        line-height: 2rem;
      }
      h2 {
        font-size: 0.7em;
        font-weight: 100;
        font-family: 'Lato', sans-serif;
      }
    }

    .menu {
      i {
        position: relative;
        cursor: pointer;
      }
      span {
        cursor: pointer;
        animation: mouseon 0.5s ease-in-out reverse forwards;
      }
      .list {
        max-height: 0;
        list-style: none;
        position: absolute;
        background: $bd1;
        top: 50px;
        width: 100%;
        font-family: 'Baloo', cursive;
        transition: max-height 0.3s ease-in;
        padding-bottom: 10px;
        border-radius: 5px;

        @media (min-width: $mobilek) {
          top: 64px;
          left: 36px;
          width: 10rem;
        }

        li {
          max-height: 0;
          opacity: 0;
          cursor: pointer;
          transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
          animation: mouseon 0.5s ease-in-out reverse forwards;

          &:hover {
            animation: mouseon 0.5s ease-in-out normal forwards;
          }
        }
      }


      &:hover {
        i {
          animation: drop 0.5s ease-in-out infinite;
        }
        span {
          animation: mouseon 0.5s ease-in-out normal forwards;
        }
        .list {
          border: 1px solid $col1;
          max-height: 130px;
          transition: max-height 0.3s ease-out;
          -webkit-box-shadow: 5px 5px 20px 1px rgba(178,178,178,1);
          -moz-box-shadow: 5px 5px 20px 1px rgba(178,178,178,1);
          box-shadow: 5px 5px 20px 1px rgba(178,178,178,1);

          li {
            max-height: 2.2rem;
            opacity: 1;
            transition: max-height 0.3s ease-out, opacity 0.3s ease-out 0.4s;
          }
        }
      }
    }
    .User {
      .users {
        list-style: none;
        display: flex;

        li {
          margin: 0 10px;
          cursor: pointer;
          animation: mouseon 0.5s ease-in-out reverse forwards;
          &:hover {
            animation: mouseon 0.5s ease-in-out normal forwards;
          }
        }

      }
    }
  }

}